html {
  min-width: 100vh;
}

body {
  font-family: "poppinsregular" !important;
  color: #fff;
}

/*Formatações do HEADER */

header {
  background: url("../img/bg2.jpg");
  background-position: center;
  background-size: cover;
  padding: 10px 50px !important;
  padding-bottom: 215px !important;
  /* border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px; */
  color: #fff;
  position: relative;
}

header .navbar-mobile {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 80px !important;
}

header nav h1 {
  font-size: 2em;
  letter-spacing: 0.8px;
}

header nav ul a {
  color: #fff;
  text-decoration: none;
}

header .navbar-desktop a img {
  width: 125px;
  padding-top: 5px;
  vertical-align: bottom;
}

header nav ul {
  display: flex;
  margin: 0;
  gap: 65px;
}

header nav ul a {
  font-size: 14pt;
  opacity: 0.8;
  transition: all 0.4s;
  border-radius: 50px;
}

header nav a:hover {
  opacity: 1;
}

header form {
  display: flex;
  align-items: center;
}

header .navbar input {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  padding-left: 7.5px;
  font-size: 11pt;
  letter-spacing: 1px;
}

header .navbar form input:focus {
  outline: none;
}

header .navbar .form-container {
  width: 300px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.614);
  padding: 6px 12px;
  border-radius: 35px;
  transition: all 0.3s;
}

header .navbar-desktop .form-container:focus-within {
  background-color: rgba(198, 198, 198, 0.227);
}

header .navbar .form-container form img {
  color: white;
  width: 20px;
  opacity: 0.8;
  margin-right: 3px;
}

header .divs-container {
  padding-top: 20px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header div#left,
header div#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45%;
}

header div#right {
  padding-left: 60px;
  padding-top: 60px;
}

header div#right img {
  width: 550px;
  height: 550px;
  margin-left: 30px;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.15));
  -webkit-filter: drop-shadow();
}

header div#left h1 {
  font-size: 3.7em;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
}

header div#left p {
  font-size: 1.25em;
  opacity: 0.9;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.584);
}

header .left-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

header .left-buttons {
  display: flex;
  font-family: "poppinsregular" !important;
  gap: 20px;
}

header #left .left-buttons button {
  background-color: white;
  color: #000;
  font-weight: bold;
  font-family: "poppinsregular";
  border-radius: 20px !important;
  padding: 7.5px 18px;
  padding-bottom: 8.5px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

header #left .left-buttons button:nth-child(1):hover {
  background-color: #294bb3;
  color: #fff;
}

header #left .left-buttons button:nth-child(2) {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

header .left-buttons button:nth-child(2):hover {
  background-color: #294bb3 !important;
  color: #fff !important;
  border-color: #294bb3 !important;
}

header .info-container {
  position: absolute;
  width: max-content;
  bottom: -60px;
  transform: translate(-50%);
  left: 50%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
}

header .info-container > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  height: 40%;
  padding: 0 30px;
}

header .info-container > div:not(.info-5) {
  border-right: 3px solid rgba(128, 128, 128, 0.608);
}

header .info-container .info-1 {
  padding-left: 0;
}

header .info-container > div span:nth-child(1) {
  font-weight: 600;
  color: rgb(156, 156, 156);
}
header .info-container > div span:nth-child(2) {
  font-weight: bold;
  color: #000;
}

header .info-container button {
  background-color: #3b47d1;
  color: #fff;
  font-weight: 600;
  font-size: 12pt;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
}

/*Formatações do MAIN*/

main {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main #ofertas {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  padding-top: 100px;
  text-align: center;
}

main #ofertas h1 {
  font-size: 2.8em;
  font-weight: 600;
  margin: 20px 0;
  margin-bottom: 70px;
}

main #ofertas .ofertas-content {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  text-align: start;
}

main #ofertas .ofertas-content .card {
  background-color: #e3e3e3;
}

main #ofertas .ofertas-content .card-body {
  background-color: #fff;
}

main #ofertas .ofertas-content img:not(.logo) {
  width: 230px;
  margin: auto;
}

main #ofertas .logo {
  width: 25px;
  height: 25px;
}

main #ofertas .pepsi-logo {
  height: 20px;
  width: 20px;
}

main #ofertas .ofertas-content .text-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

main #ofertas .ofertas-content h5 {
  padding-top: 7px;
  font-weight: 600;
}

main #ofertas .ofertas-content .buttons-wrap {
  display: flex;
  gap: 4px;
}
main #ofertas .ofertas-content .buttons-wrap .btn-buy {
  background-color: #520c78;
  border-color: #520c78;
  font-weight: 600;
  text-transform: uppercase;
}

main #ofertas .ofertas-content .cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-color: #520c78;
}

main #ofertas .ofertas-content .cart-icon svg {
  fill: #520c78;
}

main #ofertas .ofertas-content .cart-icon span {
  color: #520c78;
  font-weight: 600;
  margin: 0 7px;
}

main #ofertas .ofertas-content .card-price {
  margin: 0;
}

main #ofertas .ofertas-content .old-price {
  font-size: 0.9em;
  text-decoration: line-through;
  color: #a5a5a5;
  margin-top: 0.5em;
}

main #ofertas .ofertas-content .new-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #008000;
  margin-bottom: 1em;
}
