:root {
  --bgQuemSomos: #f2f2f2;
  --tituloQuemSomos: #390750;
}

html {
  min-width: 100vh;
}

body {
  font-family: monospace;
  color: white;
  background: url("../img/bg.jpg");
  background-position: center;
  background-repeat: space;
  background-size: cover;
}

header {
  /* background: linear-gradient(#162da0, #420a86); */
  /* background: url("https://img.freepik.com/fotos-gratis/fundo-abstrato-espaco-3d-com-paisagem-de-wireframe_1048-10648.jpg?w=740&t=st=1673752732~exp=1673753332~hmac=380ea92439126fa8b7a11e03ba4c929f7f38aeb946305dccd634205ad52b9dd7");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  padding: 10px 50px !important;
  padding-bottom: 225px !important;
  position: relative !important;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav h1 a,
header nav li a {
  color: #fff;
  text-decoration: none;
}

header nav a img {
  width: 125px;
  padding-top: 5px;
  vertical-align: bottom;
}

header nav ul {
  display: flex;
  gap: 65px;
}

header nav li a {
  font-size: 14pt;
  opacity: 0.8;
  transition: all 0.4s;
  border-radius: 50px;
}

header nav li a:hover {
  opacity: 1;
}

form {
  display: flex;
  align-items: center;
}

form input {
  width: 100%;
  color: #fff;
  background-color: transparent;
  border: none;
  padding-left: 7.5px;
  font-size: 11pt;
  font-family: cursive;
  letter-spacing: 1px;
}

form input:focus {
  outline: none;
}

.form-container {
  width: 300px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.614);
  padding: 2px 6px;
  border-radius: 35px;
  transition: all 0.3s;
}

.form-container:focus-within {
  background-color: rgba(198, 198, 198, 0.227);
}

.form-container form img {
  color: white;
  width: 20px;
  padding: 7px;
  opacity: 0.8;
}

.aside-container {
  padding-top: 20px;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside#left,
aside#right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45%;
}

aside#right img {
  max-height: 100%;
  max-width: 100%;
  margin-left: 30px;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.15));
  -webkit-filter: drop-shadow();
}

aside#left h1 {
  font-size: 3.8em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
}

aside#left p {
  font-size: 1.4em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.384);
}

.left-aside-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.left-aside-buttons {
  display: flex;
  gap: 20px;
}

.left-aside-buttons button {
  background: linear-gradient(
    rgba(195, 146, 252, 0.349),
    rgba(97, 44, 95, 0.349)
  );
  border-radius: 200px;
  color: #fff;
  padding: 7.5px 18px;
  padding-bottom: 8.5px;
  border: none;
  font-family: monospace;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 600;
  transition: all ease-in-out 0.3s;
}

.left-aside-buttons button:nth-child(2) {
  background: linear-gradient(
    rgba(148, 146, 252, 0.349),
    rgba(65, 44, 97, 0.349)
  );
}
.left-aside-buttons button:nth-child(2):hover {
  background: linear-gradient(
    rgba(148, 146, 252, 0.549),
    rgba(65, 44, 97, 0.549)
  );
}

.left-aside-buttons button:hover {
  background: linear-gradient(
    rgba(195, 146, 252, 0.549),
    rgba(97, 44, 95, 0.549)
  );
}

header nav h1 {
  font-size: 2em;
  letter-spacing: 0.8px;
}

/**/

main > section {
  height: 420px;
}

main #quem-somos {
  /* background: linear-gradient(#420a86, #010d27); */
  /* background-color: #fff; */
  background-color: var(--bgQuemSomos);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}

main #curiosidades {
  text-align: center;
  height: 2200px;
  /* background-color: #010d27; */
}

@media screen and (min-width: 992px) {
  main #curiosidades img {
    max-width: 700px;
    transition: all 2s;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px !important;
  }
}

@media screen and (max-width: 992px) {
  main #curiosidades img {
    max-width: 200px;
    transition: all 2s;
  }
}

main #curiosidades img:hover {
  transform: rotate(360deg);
  cursor: pointer;
}

img#sol {
  margin-right: 10em;
}

img#terra {
  width: 100px;
}

img#lua {
  width: 25px;
}

.imgs-curiosidades {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main #quem-somos {
  padding-top: 100px;
  text-align: center;
}

main #quem-somos h1 {
  font-size: 4.5em;
  color: var(--tituloQuemSomos);
}

.custom-shape-divider-bottom-1673753926 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1673753926 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 94px;
}

.custom-shape-divider-bottom-1673753926 .shape-fill {
  fill: var(--bgQuemSomos);
}
