@media screen and (max-width: 1200px) {
  .navbar-desktop {
    display: none !important;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 !important;
  }

  header .divs-container {
    flex-flow: column wrap;
    height: fit-content;

    text-align: center;
    align-items: center;
  }

  header div#right img {
    width: 325px;
    height: 325px;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  header .divs-container #left {
    text-align: start;
    width: 80%;
  }

  header .left-content {
    gap: 30px;
  }

  header div#left h1 {
    font-size: 2.8em;
    margin-bottom: 0;
  }

  header div#left p {
    font-size: 1.02em;
  }

  header .left-buttons {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header .left-buttons button {
    width: 100%;
    font-size: 11pt;
  }

  .info-container {
    display: none !important;
  }

  main #ofertas {
    padding-top: 70px !important;
  }

  main > section h1 {
    font-size: 2.5em;
  }

  main .ofertas-content .card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.282);
  }

  main .ofertas-content .card h5 {
    font-size: 0.9em;
    margin-bottom: 2px !important;
  }

  main .ofertas-content .card .text-wrap img:not(.pepsi-logo) {
    width: 18px !important;
    height: 18px !important;
  }

  main .ofertas-content .text-wrap .pepsi-logo {
    width: 14px !important;
    height: 14px !important;
  }

  main .ofertas-content .stars-container {
    align-items: center !important;
  }

  main .ofertas-content .card .stars-container img {
    width: 10px !important;
  }

  main .ofertas-content .card .stars-container span {
    font-size: 7pt !important;
  }

  main .ofertas-content .card .buttons-wrap svg {
    width: 12px;
  }

  main .ofertas-content .card a.btn {
    font-size: 9pt;
  }

  main .ofertas-content .card .old-price {
    font-size: 0.7em !important;
  }

  main .ofertas-content .card .new-price {
    font-size: 0.9em !important;
  }

  main #ofertas .ofertas-content img:not(.logo) {
    width: 130px;
  }

  main #sobre-nos .desc-container {
    flex-flow: column wrap;
  }

  main #sobre-nos > p {
    width: 90%;
  }

  /* --------------------------------------------------------------- */

  nav.bs {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.274) !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  nav.bs .logo-bs {
    position: absolute;
    top: 8px;
    /* left: 25px; */
    left: 50%;
    transform: translate(-50%);
    width: 100px;
  }

  nav.bs .container-fluid {
    position: relative;
    text-align: start;
    padding: 14px 20px;
  }

  nav.bs .container-fluid .user-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }

  nav.bs .navbar-toggle:active {
    outline: none;
    border: none;
  }

  nav.bs .navbar-collapse {
    padding: 15px 5px 5px 0;
  }
  .nav-item .nav-link,
  .nav-item .nav-link:active {
    color: #fff !important;
  }

  nav.bs ul {
    gap: 0 !important;
  }

  nav.bs input {
    background-color: white;
  }

  nav.bs form {
    display: none !important;
  }
}
